{
  "openapi" : "3.1.0",
  "info" : {
    "description" : "Authentication and authorization service for jorisjonkers.dev",
    "title" : "Auth API",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://auth.jorisjonkers.dev",
    "description" : "Production"
  }, {
    "url" : "http://localhost:8081",
    "description" : "Local development"
  } ],
  "security" : [ {
    "bearerAuth" : [ ]
  } ],
  "paths" : {
    "/api/v1/admin/users" : {
      "get" : {
        "operationId" : "listUsers",
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AdminUserResponse"
                  }
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "admin-controller" ]
      }
    },
    "/api/v1/admin/users/{id}" : {
      "delete" : {
        "operationId" : "deleteUser",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : { },
            "description" : "OK"
          }
        },
        "tags" : [ "admin-controller" ]
      },
      "get" : {
        "operationId" : "getUser",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminUserResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "admin-controller" ]
      }
    },
    "/api/v1/admin/users/{id}/role" : {
      "patch" : {
        "operationId" : "updateRole",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateRoleRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminUserResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "admin-controller" ]
      }
    },
    "/api/v1/admin/users/{id}/services" : {
      "put" : {
        "operationId" : "updateServicePermissions",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateServicePermissionsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminUserResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "admin-controller" ]
      }
    },
    "/api/v1/auth/change-password" : {
      "post" : {
        "operationId" : "changePassword",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        },
        "tags" : [ "password-controller" ]
      }
    },
    "/api/v1/auth/confirm-email" : {
      "get" : {
        "operationId" : "confirmEmail",
        "parameters" : [ {
          "in" : "query",
          "name" : "token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string"
                  }
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "email-confirmation-controller" ]
      }
    },
    "/api/v1/auth/forgot-password" : {
      "post" : {
        "operationId" : "forgotPassword",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ForgotPasswordRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string"
                  }
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "password-controller" ]
      }
    },
    "/api/v1/auth/login" : {
      "post" : {
        "operationId" : "login",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoginRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoginResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "login-controller" ]
      }
    },
    "/api/v1/auth/logout" : {
      "get" : {
        "operationId" : "logoutRedirect",
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "logout-controller" ]
      },
      "post" : {
        "operationId" : "logout",
        "responses" : {
          "200" : {
            "content" : { },
            "description" : "OK"
          }
        },
        "tags" : [ "logout-controller" ]
      }
    },
    "/api/v1/auth/me" : {
      "get" : {
        "operationId" : "me",
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionUserResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "me-controller" ]
      }
    },
    "/api/v1/auth/refresh" : {
      "post" : {
        "operationId" : "refresh",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RefreshRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "login-controller" ]
      }
    },
    "/api/v1/auth/resend-confirmation" : {
      "post" : {
        "operationId" : "resendConfirmation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ResendConfirmationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string"
                  }
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "email-confirmation-controller" ]
      }
    },
    "/api/v1/auth/reset-password" : {
      "post" : {
        "operationId" : "resetPassword",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ResetPasswordRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string"
                  }
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "password-controller" ]
      }
    },
    "/api/v1/auth/session-login" : {
      "post" : {
        "operationId" : "sessionLogin",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SessionLoginRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionLoginResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "session-login-controller" ]
      }
    },
    "/api/v1/auth/totp-challenge" : {
      "post" : {
        "operationId" : "totpChallenge",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TotpChallengeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoginResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "login-controller" ]
      }
    },
    "/api/v1/auth/verify" : {
      "get" : {
        "operationId" : "verify_1",
        "parameters" : [ {
          "in" : "header",
          "name" : "X-Forwarded-Host",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : { },
            "description" : "OK"
          }
        },
        "tags" : [ "auth-verification-controller" ]
      }
    },
    "/api/v1/health" : {
      "get" : {
        "operationId" : "health",
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string"
                  }
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "health-controller" ]
      }
    },
    "/api/v1/totp/enroll" : {
      "post" : {
        "operationId" : "enroll",
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TotpEnrollResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "totp-controller" ]
      }
    },
    "/api/v1/totp/verify" : {
      "post" : {
        "operationId" : "verify",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TotpVerifyRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : { },
            "description" : "OK"
          }
        },
        "tags" : [ "totp-controller" ]
      }
    },
    "/api/v1/users/me" : {
      "get" : {
        "operationId" : "getProfile",
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProfileResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "profile-controller" ]
      },
      "patch" : {
        "operationId" : "updateProfile",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateProfileRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProfileResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "profile-controller" ]
      }
    },
    "/api/v1/users/register" : {
      "post" : {
        "operationId" : "register",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegisterUserRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserResponse"
                }
              }
            },
            "description" : "Created"
          }
        },
        "tags" : [ "user-registration-controller" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "AdminUserResponse" : {
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "email" : {
            "type" : "string"
          },
          "emailConfirmed" : {
            "type" : "boolean"
          },
          "firstName" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "lastName" : {
            "type" : "string"
          },
          "role" : {
            "type" : "string"
          },
          "servicePermissions" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "totpEnabled" : {
            "type" : "boolean"
          },
          "username" : {
            "type" : "string"
          }
        },
        "required" : [ "createdAt", "email", "emailConfirmed", "firstName", "id", "lastName", "role", "servicePermissions", "totpEnabled", "username" ]
      },
      "ChangePasswordRequest" : {
        "type" : "object",
        "properties" : {
          "currentPassword" : {
            "type" : "string",
            "minLength" : 1
          },
          "newPassword" : {
            "type" : "string",
            "maxLength" : 2147483647,
            "minLength" : 8
          }
        },
        "required" : [ "currentPassword", "newPassword" ]
      },
      "ForgotPasswordRequest" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "format" : "email",
            "minLength" : 1
          }
        },
        "required" : [ "email" ]
      },
      "LoginRequest" : {
        "type" : "object",
        "properties" : {
          "password" : {
            "type" : "string",
            "minLength" : 1
          },
          "username" : {
            "type" : "string",
            "minLength" : 1
          }
        },
        "required" : [ "password", "username" ]
      },
      "LoginResponse" : {
        "type" : "object",
        "properties" : {
          "accessToken" : {
            "type" : [ "string", "null" ]
          },
          "expiresIn" : {
            "type" : [ "integer", "null" ],
            "format" : "int64"
          },
          "refreshToken" : {
            "type" : [ "string", "null" ]
          },
          "tokenType" : {
            "type" : "string"
          },
          "totpChallengeToken" : {
            "type" : [ "string", "null" ]
          },
          "totpRequired" : {
            "type" : "boolean"
          }
        },
        "required" : [ "tokenType", "totpRequired" ]
      },
      "ProfileResponse" : {
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "email" : {
            "type" : "string"
          },
          "firstName" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "lastName" : {
            "type" : "string"
          },
          "role" : {
            "type" : "string"
          },
          "totpEnabled" : {
            "type" : "boolean"
          },
          "username" : {
            "type" : "string"
          }
        },
        "required" : [ "createdAt", "email", "firstName", "id", "lastName", "role", "totpEnabled", "username" ]
      },
      "RefreshRequest" : {
        "type" : "object",
        "properties" : {
          "refreshToken" : {
            "type" : "string",
            "minLength" : 1
          }
        },
        "required" : [ "refreshToken" ]
      },
      "RegisterUserRequest" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "format" : "email",
            "minLength" : 1
          },
          "firstName" : {
            "type" : "string",
            "maxLength" : 100,
            "minLength" : 1
          },
          "lastName" : {
            "type" : "string",
            "maxLength" : 100,
            "minLength" : 1
          },
          "password" : {
            "type" : "string",
            "maxLength" : 2147483647,
            "minLength" : 8
          },
          "username" : {
            "type" : "string",
            "maxLength" : 50,
            "minLength" : 3,
            "pattern" : "^[a-zA-Z0-9_-]+$"
          }
        },
        "required" : [ "email", "firstName", "lastName", "password", "username" ]
      },
      "ResendConfirmationRequest" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "format" : "email",
            "minLength" : 1
          }
        },
        "required" : [ "email" ]
      },
      "ResetPasswordRequest" : {
        "type" : "object",
        "properties" : {
          "newPassword" : {
            "type" : "string",
            "maxLength" : 2147483647,
            "minLength" : 8
          },
          "token" : {
            "type" : "string",
            "minLength" : 1
          }
        },
        "required" : [ "newPassword", "token" ]
      },
      "SessionLoginRequest" : {
        "type" : "object",
        "properties" : {
          "password" : {
            "type" : "string",
            "minLength" : 1
          },
          "totpCode" : {
            "type" : [ "string", "null" ]
          },
          "username" : {
            "type" : "string",
            "minLength" : 1
          }
        },
        "required" : [ "password", "username" ]
      },
      "SessionLoginResponse" : {
        "type" : "object",
        "properties" : {
          "success" : {
            "type" : "boolean"
          },
          "totpRequired" : {
            "type" : "boolean"
          },
          "user" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/SessionUserResponse"
            }, {
              "type" : "null"
            } ]
          }
        },
        "required" : [ "success", "totpRequired" ]
      },
      "SessionUserResponse" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string"
          },
          "firstName" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "role" : {
            "type" : "string"
          },
          "roles" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "username" : {
            "type" : "string"
          }
        },
        "required" : [ "email", "firstName", "id", "lastName", "role", "roles", "username" ]
      },
      "TokenResponse" : {
        "type" : "object",
        "properties" : {
          "accessToken" : {
            "type" : "string"
          },
          "expiresIn" : {
            "type" : "integer",
            "format" : "int64"
          },
          "refreshToken" : {
            "type" : "string"
          },
          "tokenType" : {
            "type" : "string"
          }
        },
        "required" : [ "accessToken", "expiresIn", "refreshToken", "tokenType" ]
      },
      "TotpChallengeRequest" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "minLength" : 1,
            "pattern" : "^\\d{6}$"
          },
          "totpChallengeToken" : {
            "type" : "string",
            "minLength" : 1
          }
        },
        "required" : [ "code", "totpChallengeToken" ]
      },
      "TotpEnrollResponse" : {
        "type" : "object",
        "properties" : {
          "qrUri" : {
            "type" : "string"
          },
          "secret" : {
            "type" : "string"
          }
        },
        "required" : [ "qrUri", "secret" ]
      },
      "TotpVerifyRequest" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "minLength" : 1,
            "pattern" : "^\\d{6}$"
          }
        },
        "required" : [ "code" ]
      },
      "UpdateProfileRequest" : {
        "type" : "object",
        "properties" : {
          "firstName" : {
            "type" : "string",
            "maxLength" : 100,
            "minLength" : 1
          },
          "lastName" : {
            "type" : "string",
            "maxLength" : 100,
            "minLength" : 1
          }
        },
        "required" : [ "firstName", "lastName" ]
      },
      "UpdateRoleRequest" : {
        "type" : "object",
        "properties" : {
          "role" : {
            "type" : "string",
            "minLength" : 1
          }
        },
        "required" : [ "role" ]
      },
      "UpdateServicePermissionsRequest" : {
        "type" : "object",
        "properties" : {
          "services" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        },
        "required" : [ "services" ]
      },
      "UserResponse" : {
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "email" : {
            "type" : "string"
          },
          "firstName" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "lastName" : {
            "type" : "string"
          },
          "role" : {
            "type" : "string"
          },
          "totpEnabled" : {
            "type" : "boolean"
          },
          "username" : {
            "type" : "string"
          }
        },
        "required" : [ "createdAt", "email", "firstName", "id", "lastName", "role", "totpEnabled", "username" ]
      }
    },
    "securitySchemes" : {
      "bearerAuth" : {
        "bearerFormat" : "JWT",
        "scheme" : "bearer",
        "type" : "http"
      },
      "oauth2" : {
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://auth.jorisjonkers.dev/api/oauth2/authorize",
            "refreshUrl" : "https://auth.jorisjonkers.dev/api/oauth2/token",
            "tokenUrl" : "https://auth.jorisjonkers.dev/api/oauth2/token"
          }
        },
        "type" : "oauth2"
      }
    }
  }
}
